body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.faang-img{
    position: relative;
    width: 100%;
    max-width: 4000px;
}
.faang-img img{
    width: 100px;
    height: 400px;
}
.faang-img .btn{
    position: absolute;
    top: 61%;
    left: 44.1%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;

}

.hero {
    text-align: center;
    padding: 50px 20px;
}
.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.hero img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.hero .cta {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.content h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.profile img {
    width: 350px;
    height: 250px;
    /* border-radius: 50%; */
    margin-right: 20px;
}
.profile .details {
    max-width: 600px;
}
.profile .details h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.profile .details p {
    font-size: 16px;
    line-height: 1.6;
}
.blog-posts {
    margin-bottom: 40px;
}
.blog-posts h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.blog-posts .post {
    margin-bottom: 20px;
}
.blog-posts .post h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.projects {
    margin-bottom: 40px;
}
.projects h3 {
    font-size: 28px;
    margin-bottom: 20px;
}
.projects p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.projects ul {
    list-style: none;
    padding: 0;
}
.projects ul li {
    margin-bottom: 10px;
}
.projects ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer .links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
footer .links a {
    color: #fff;
    text-decoration: none;
}